#django-rest-swagger {
    background: #547f00; 
    color: #eee; 
    text-align:right; 
    padding: 7px 0; 
    font-size: 100%;
}
#django-rest-swagger a {
    color: #fff;
    text-decoration: none;
}
